<div class="container">
    <form class="form-box">
  
      <h3>Admin Login</h3><br>
      <label for="exampleInputName" class="form-label">Enter your Username</label><br>
      <input type="name" class="form-control" id="exampleInputName" formControlName="name"><br>
  
      <label for="exampleInputPassword" class="form-label">Enter your Password</label><br>
      <input type="password" class="form-control" id="exampleInputPassword" formControlName="password"><br>
  
      <button type="submit" class="btn btn-primary" routerLink="/dashboard/home">Login</button><br><br>
  
    </form>
  </div>