<nav class="navbar navbar-expand-lg light-bg">
  <div class="container-fluid">
    <a class="navbar-brand">Aadi E-Commerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/frontend/home" routerLinkActive="active" ariaCurrentWhenActive="page"><b>Home</b></a>
        <a class="nav-link" routerLink="/frontend/about" routerLinkActive="active" ariaCurrentWhenActive="page"><b>About</b></a>
        <a class="nav-link" routerLink="/frontend/products" routerLinkActive="active" ariaCurrentWhenActive="page"><b>Products</b></a>
        <a class="nav-link" routerLink="/frontend/services" routerLinkActive="active" ariaCurrentWhenActive="page"><b>Services</b></a>
      </div>
    </div>
    <form class="d-flex">
      <button><i class="fa-solid fa-cart-shopping" routerLink="/frontend/cart"></i></button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button><i class="fa-solid fa-user" routerLink="/frontend/login"></i></button>
    </form>
  </div>
</nav>