<div class="row">
    <div class="col-3">
        <img src="/assets/images/aadiecomm.jpg" alt="websitelogo">
    </div>
    <div class="col-3">
        <h2>Help</h2>
        <p>FAQ</p>
        <p>Payments</p>
        <p>Shipping</p>
        <p>Cancellation and Returns</p>
        
    </div>
    <div class="col-3">
        <h2>Connect With Us</h2>
        <p><i class="fa-brands fa-facebook"></i></p>
        <p><i class="fa-brands fa-twitter"></i></p>
        <p><i class="fa-brands fa-instagram"></i></p>
        <p><i class="fa-brands fa-youtube"></i></p>

        <p></p>
    </div>
    <div class="col-3">
        <h2>Contact Us & Others</h2>
        <p><a routerLink="/dashboard/login">Admin Login</a></p>
        <p><a routerLink="">Privacy Policy</a></p>
        <p><a routerLink="">Careers</a></p>
        <p><a routerLink=""></a>Get In Touch</p>
    </div>
    <div class="cb-col-100">
        "&copy; 2023 Aadi E-Commerce Theme, All rights reserved."
    </div>
</div>